(
    name: "Idle",
    duration: 1.5,
    source_model: "models/_test/UVMappedR6.glb",
    channels: [
        (
            node: "Torso",
            translation: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (0.0, 2.1579273, 0.0),
                    (0.0, 2.1579273, 0.0),
                ],
                step: true,
            )),
            rotation: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (0.0, 0.0, 0.0, 1.0),
                    (0.0, 0.0, 0.0, 1.0),
                ],
                step: true,
            )),
            scale: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (1.0, 1.0, 1.0),
                    (1.0, 1.0, 1.0),
                ],
                step: true,
            )),
        ),
        (
            node: "Head",
            translation: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (0.0, 3.9326682, 0.0),
                    (0.0, 3.9326682, 0.0),
                ],
                step: true,
            )),
            rotation: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (0.0, 0.0, 0.0, 1.0),
                    (0.0, 0.0, 0.0, 1.0),
                ],
                step: true,
            )),
            scale: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (1.0, 1.0, 1.0),
                    (1.0, 1.0, 1.0),
                ],
                step: true,
            )),
        ),
        (
            node: "RightArm",
            translation: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (1.4800414, 3.821469, -0.0000000015741213),
                    (1.4800414, 3.821469, -0.0000000015741213),
                ],
                step: true,
            )),
            rotation: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (-0.99997175, -0.0049616504, -0.0049616504, 0.0026961584),
                    (-0.99997175, -0.0049616504, -0.0049616504, 0.0026961584),
                ],
                step: true,
            )),
            scale: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (1.0, 1.0, 1.0),
                    (1.0, 1.0, 1.0),
                ],
                step: true,
            )),
        ),
        (
            node: "LeftArm",
            translation: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (-1.4892966, 3.7936995, -0.009388209),
                    (-1.4892966, 3.7936995, -0.009388209),
                ],
                step: true,
            )),
            rotation: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (-1.0, -0.0, -0.0, 0.00000002980233),
                    (-1.0, -0.0, -0.0, 0.00000002980233),
                ],
                step: true,
            )),
            scale: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (1.0, 0.99999994, 0.99999994),
                    (1.0, 0.99999994, 0.99999994),
                ],
                step: true,
            )),
        ),
        (
            node: "RightLeg",
            translation: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (0.50225836, 1.9143592, -0.009388208),
                    (0.50225836, 1.9143592, -0.009388208),
                ],
                step: true,
            )),
            rotation: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (1.0, 0.0, 0.0, 0.0),
                    (1.0, 0.0, 0.0, 0.0),
                ],
                step: true,
            )),
            scale: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (1.0, 1.0, 1.0),
                    (1.0, 1.0, 1.0),
                ],
                step: true,
            )),
        ),
        (
            node: "LeftLeg",
            translation: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (-0.49276364, 1.9136846, -0.009388209),
                    (-0.49276364, 1.9136846, -0.009388209),
                ],
                step: true,
            )),
            rotation: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (-1.0, -0.0, -0.0, 0.00000002980233),
                    (-1.0, -0.0, -0.0, 0.00000002980233),
                ],
                step: true,
            )),
            scale: Some((
                times: [
                    0.041666668,
                    1.5,
                ],
                values: [
                    (1.0, 0.99999994, 0.99999994),
                    (1.0, 0.99999994, 0.99999994),
                ],
                step: true,
            )),
        ),
    ],
    events: [],
)