(
    name: "NewEffect5",
    lifetime: 1.0,
    playback: Looping,
    end: Destroy,
    tracks: [
        (
            name: "Fountain",
            render: Billboard(
                texture: Some("assets/textures/VFXTEX/Flare/26.png"),
            ),
            blend: Additive,
            space: Local,
            clips: [
                (
                    start: 0.16818184,
                    end: 0.65,
                    emit: Some(Burst(
                        count: 5,
                        count_jitter: 0.0,
                        pulses: 1,
                        interval: 0.1,
                        interval_jitter: 0.0,
                    )),
                ),
            ],
            automation: [],
            shape: Sphere(
                radius: 0.5,
                shell: false,
            ),
            velocity: Const(Vec3((0.0, 2.0, 0.0))),
            size: Curve((
                keys: [
                    (
                        t: 0.0,
                        v: F32(-0.54253083),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                    (
                        t: 0.076764904,
                        v: F32(-0.4080503),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                    (
                        t: 0.13214286,
                        v: F32(-0.23686081),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                    (
                        t: 0.17142858,
                        v: F32(0.021590352),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                    (
                        t: 0.23214285,
                        v: F32(0.24898583),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                    (
                        t: 0.3392857,
                        v: F32(0.39165932),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                    (
                        t: 0.51428574,
                        v: F32(0.54860026),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                    (
                        t: 0.78571427,
                        v: F32(0.619937),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                ],
                extrapolate: Clamp,
            )),
            rotation: Range(Vec3((0.0, 0.0, 0.0)), Vec3((0.0, 0.0, 360.0))),
            angular_velocity: Range(Vec3((0.0, 0.0, -5.0)), Vec3((0.0, 0.0, 5.0))),
            color: Curve((
                keys: [
                    (
                        t: 0.0,
                        v: Rgba((1.0, 1.0, 1.0, 1.0)),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                    (
                        t: 0.60383826,
                        v: Rgba((1.0, 1.0, 1.0, 0.609375)),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                    (
                        t: 1.0,
                        v: Rgba((0.0, 0.0, 0.0, 0.0)),
                        interp: Linear,
                        in_tan: 0.0,
                        out_tan: 0.0,
                    ),
                ],
                extrapolate: Clamp,
            )),
            gravity: 0.5,
            drag: 3.07,
        ),
        (
            name: "Track 2",
            render: Billboard(
                texture: Some("assets/textures/VFXTEX/Impact/1.png"),
            ),
            blend: Additive,
            flipbook: Some((
                cols: 4,
                rows: 4,
                mode: OverLife,
                fps: 12.0,
            )),
            space: Local,
            clips: [
                (
                    start: 0.0,
                    end: 0.2090909,
                    emit: Some(Burst(
                        count: 1,
                        count_jitter: 0.0,
                        pulses: 1,
                        interval: 0.1,
                        interval_jitter: 0.0,
                    )),
                ),
            ],
            automation: [],
            shape: Cone(
                angle: 25.0,
                radius: 0.1,
            ),
            velocity: Const(Vec3((0.0, 0.0, 0.0))),
            size: Const(F32(3.96)),
            rotation: Range(Vec3((0.0, 0.0, 0.0)), Vec3((0.0, 0.0, 360.0))),
            angular_velocity: Const(Vec3((0.0, 0.0, 0.0))),
            color: Const(Rgba((1.0, 1.0, 1.0, 1.0))),
            gravity: 0.0,
            drag: 0.0,
        ),
    ],
    seed: 1,
)