(
    name: "Punch",
    duration: 2.0,
    source_model: "",
    channels: [
        (
            node: "",
            properties: [
                (
                    component: "UiElement",
                    field: "cell",
                    times: [
                        0.0,
                    ],
                    values: [
                        Float(0.0),
                    ],
                    step: true,
                ),
            ],
        ),
    ],
    events: [],
)