(
    retro: true,
    retro_height: 240,
    vsync: On,
    probe_detail: High,
    matter: true,
    script_vec3: Some(Fast),
    example_scripts: false,
    mixer: (
        master: (
            name: "Master",
            gain_db: 0.0,
            pan: 0.0,
            muted: false,
            soloed: false,
            effects: [],
            output: None,
        ),
        tracks: [],
    ),
)