(
    default_fade: 0.25,
    layers: [
        (
            name: "Base",
            weight: 1.0,
            states: [
                (
                    name: "SaeIdle",
                    clip: "animations/SaeIdle",
                    speed: 1.0,
                    looped: true,
                    pos: (40.0, 40.0),
                ),
            ],
            default_state: Some("SaeIdle"),
            transitions: [],
        ),
    ],
)