(
    default_fade: 0.15,
    sample_fps: Some(3.0),
    layers: [
        (
            name: "Base",
            weight: 1.0,
            states: [
                (
                    name: "walk",
                    clip: "animations/Ty/walk",
                    speed: 2.55,
                    looped: true,
                    pos: (394.0, 479.0),
                ),
                (
                    name: "run",
                    clip: "animations/Ty/run",
                    speed: 5.5,
                    looped: true,
                    pos: (213.0, 586.0),
                ),
                (
                    name: "rigAction",
                    clip: "animations/Ty/rigAction",
                    speed: 1.0,
                    looped: true,
                    pos: (388.0, 694.0),
                ),
                (
                    name: "jump",
                    clip: "animations/Ty/jump",
                    speed: 0.6,
                    looped: false,
                    fade_in: Some(0.35),
                    pos: (503.0, 389.0),
                ),
                (
                    name: "Idle.001",
                    clip: "animations/Ty/idle",
                    speed: 1.0,
                    looped: true,
                    pos: (662.0, 476.0),
                ),
                (
                    name: "fall",
                    clip: "animations/Ty/fall",
                    speed: 1.6,
                    looped: true,
                    fade_in: Some(0.16),
                    pos: (179.0, 455.0),
                ),
                (
                    name: "doublejump",
                    clip: "animations/Ty/doublejump",
                    speed: 1.0,
                    looped: true,
                    fade_in: Some(0.0),
                    pos: (478.0, 73.0),
                ),
            ],
            default_state: Some("Idle.001"),
            transitions: [
                (
                    from: "run",
                    to: "fall",
                    fade: 0.42,
                ),
                (
                    from: "walk",
                    to: "fall",
                    fade: 0.35,
                ),
                (
                    from: "jump",
                    to: "fall",
                    fade: 0.25,
                ),
            ],
        ),
    ],
)