(
    name: "first",
    lighting: (
        direction: (-0.82, 1.75, 1.4),
        color: (0.5812762, 1.0, 0.48363638),
        ambient: (0.015476993, 0.017151305, 0.048365604),
        intensity: 0.12,
        shadows: true,
        shadow_softness: 0.13,
        shadow_strength: 1.0,
        shadow_tint: (0.2581818, 0.32831746, 1.0),
        shadow_quantize: 4,
        shadow_dither: true,
        shadow_distance: 1000.0,
        fog_color: (0.6, 0.65, 0.72),
        fog_start: 40.0,
        fog_end: 200.0,
        fog_dither_strength: 0.5,
    ),
    nodes: [
        (
            name: "Map",
            transform: (
                translation: (-4.514202117919922, 0.0, 26.110761642456055),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [
                (
                    kind: "player_spawner",
                    enabled: true,
                    params: [
                        ("spawn_x", 0.0),
                        ("spawn_y", 2.5),
                        ("spawn_z", 8.0),
                        ("spread", 2.0),
                    ],
                ),
            ],
        ),
        (
            name: "Capsule",
            transform: (
                translation: (0.0, 0.0, 10.082131147384644),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Primitive(
                shape: Capsule,
                color: (0.49999997, 0.85, 0.59999996),
            ),
            scripts: [
                (
                    kind: "third_person",
                    enabled: true,
                    params: [
                        ("jump", 16.5),
                        ("run", 9.0),
                        ("run_anim_at", 6.0),
                        ("turn", 12.0),
                        ("walk", 4.75),
                        ("walk_anim_at", 0.4),
                        ("ground_ray", 0.7),
                        ("debug_ray", 0.1),
                        ("double_tap", 0.3),
                    ],
                ),
                (
                    kind: "sword",
                    enabled: true,
                    params: [
                        ("cooldown", 0.35),
                        ("damage", 25.0),
                        ("eye", 1.0),
                        ("reach", 4.5),
                    ],
                ),
            ],
            rigidbody: Some((
                capsule: true,
                radius: 0.5,
                height: 2.0,
                half_extents: (0.5, 0.5, 0.5),
                restitution: 0.0,
                friction: 0.3,
                gravity: true,
                lock_pos: (false, false, false),
                lock_rot: (false, false, false),
            )),
            paint: Some(14),
            tex_paint: Some(3),
            visible: false,
            parent: Some(12),
            net: Some((
                predicted: true,
                transform: true,
                physics: true,
                animator: true,
                interp: true,
            )),
            tags: [
                "player",
            ],
        ),
        (
            name: "Sphere",
            transform: (
                translation: (4.632544589150754, 0.5677406574054729, 9.239258893827792),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (0.6, 0.55, 0.55),
            ),
            matter: Primitive(
                shape: Sphere,
                color: (1.0, 1.0, 1.0),
            ),
            scripts: [
                (
                    kind: "portal",
                    enabled: true,
                    params: [],
                    strs: [
                        ("destination", "untitled"),
                    ],
                ),
            ],
            material: Some((
                color: (1.0, 0.0, 0.0),
                emissive: (1.0, 0.0, 0.0),
                emissive_strength: 20.0,
                specular: (1.0, 1.0, 1.0),
                shininess: 16.0,
                specular_strength: 0.0,
                rim: (0.0, 0.0, 0.0),
                rim_strength: 0.0,
                unlit: true,
                ambient: 1.0,
                alpha: 1.0,
                shader: Some("shaders/examples/plasma.flsl"),
            )),
            rigidbody: Some((
                capsule: false,
                radius: 0.5,
                height: 2.0,
                half_extents: (0.5, 0.5, 0.5),
                restitution: 0.0,
                friction: 0.3,
                gravity: false,
                lock_pos: (true, true, true),
                lock_rot: (false, false, false),
            )),
            paint: Some(8),
            tex_paint: Some(5),
            collidable: true,
            trigger: true,
        ),
        (
            name: "Music",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            parent: Some(11),
            audio: Some((
                clip: "audio/music/balad2.wav",
                params: (
                    volume: 0.15,
                    pitch: 1.0,
                    pan: 0.0,
                    mode: Spatial,
                    falloff: Inverse,
                    min_distance: 2.0,
                    max_distance: 50.0,
                    track: "",
                    end: Loop,
                ),
                play_on_start: true,
            )),
        ),
        (
            name: "RetroMap",
            transform: (
                translation: (86.29169372037651, 14.42097958499285, 45.23413538132701),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (0.4, 0.4, 0.4),
            ),
            matter: Mesh(
                asset_path: "assets/models/_test/RetroMap.glb",
            ),
            scripts: [],
            material: Some((
                color: (0.19281225, 0.19281225, 0.19281225),
                emissive: (0.0, 0.0, 0.0),
                emissive_strength: 0.0,
                specular: (1.0, 1.0, 1.0),
                shininess: 16.0,
                specular_strength: 0.0,
                rim: (0.0, 0.0, 0.0),
                rim_strength: 0.0,
                unlit: true,
                ambient: 1.0,
                alpha: 1.0,
            )),
            paint: Some(15),
            tex_paint: Some(1),
            collidable: true,
            parent: Some(0),
        ),
        (
            name: "Model",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (0.375, 0.375, 0.375),
            ),
            matter: Mesh(
                asset_path: "assets/models/_test/UVMappedR6.glb",
            ),
            scripts: [],
            paint: Some(16),
            tex_paint: Some(4),
            visible: false,
            anim_controller: Some("animation_controllers/PlayerR6"),
            parent: Some(1),
            net: Some((
                transform: true,
                animator: true,
                interp: true,
            )),
        ),
        (
            name: "Skybox",
            transform: (
                translation: (4.514202117919922, 0.0, -26.110761642456055),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Skybox(
                color: (1.0, 1.0, 1.0),
                size: 150.0,
                tint: (0.00032516682, 0.029806986, 0.022409737),
                shader: Some("assets/shaders/examples/dayBreeze.flsl"),
                shader_params: {
                    "cloudColor": (0.0, 0.012637641, 0.04696421, 1.0),
                    "cover": (0.52, 0.0, 0.0, 0.0),
                    "drift": (4.0, 0.0, 0.0, 0.0),
                    "horizon": (0.0, 0.009574255, 0.01778077, 1.0),
                    "sunDir": (1.7, 0.4, 0.25, 0.0),
                    "zenith": (0.0, 0.23875986, 0.40035927, 1.0),
                },
            ),
            scripts: [
                (
                    kind: "rotate",
                    enabled: true,
                    params: [
                        ("speed", 1.0),
                    ],
                ),
            ],
            parent: Some(0),
        ),
        (
            name: "Post Processing",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: PostProcess(
                enabled: false,
                bloom: false,
                bloom_threshold: 0.15,
                bloom_intensity: 0.3,
                vignette: true,
                vignette_strength: 0.56,
                vignette_radius: 0.45,
                ao: Off,
                ao_strength: 1.0,
                ao_radius: 0.7,
                posterize_bands: 0,
                posterize_dither: false,
            ),
            scripts: [],
        ),
        (
            name: "Gravity Volume",
            transform: (
                translation: (14.414512674618656, -12.041107142503726, -32.42059700102548),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: GravityVolume(
                radial: false,
                strength: 50.0,
                radius: 20.0,
            ),
            scripts: [],
        ),
        (
            name: "Image",
            transform: (
                translation: (3.0102501383642384, -3.8442101632134396, 3.285513230956818),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            parent: Some(23),
            ui: Some((
                place: Free(
                    pos: (0.0, -1.0),
                ),
                size: (Fixed(320.0), Fixed(105.0)),
                image: Some((
                    texture: "assets/textures/UI/HealthbarBorder.png",
                    tint: (1.0, 1.0, 1.0, 1.0),
                    cols: 1,
                    rows: 1,
                    cell: 0,
                )),
                visible: true,
                opacity: 1.0,
            )),
        ),
        (
            name: "Lighting",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            parent: Some(0),
        ),
        (
            name: "Camera 1",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Camera(
                fov_y: 1.1519173,
                active: true,
            ),
            scripts: [
                (
                    kind: "third_person_camera",
                    enabled: true,
                    params: [
                        ("distance", 6.0),
                        ("height", 0.15),
                        ("max_distance", 11.0),
                        ("min_distance", 1.2),
                        ("sensitivity", 0.35),
                        ("start_pitch", -0.35),
                        ("zoom_speed", 1.0),
                    ],
                ),
            ],
            parent: Some(12),
        ),
        (
            name: "Player",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
        ),
        (
            name: "Point Light",
            transform: (
                translation: (15.929226756095886, 4.5748671889305115, -10.228561401367188),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: PointLight(
                color: (1.0, 0.84363616, 0.53090906),
                intensity: 0.5,
                range: 10.0,
            ),
            scripts: [],
            parent: Some(10),
        ),
        (
            name: "Point Light",
            transform: (
                translation: (9.977858424186707, 4.5748671889305115, 16.538477659225464),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: PointLight(
                color: (1.0, 0.84363616, 0.53090906),
                intensity: 0.5,
                range: 12.0,
            ),
            scripts: [],
            parent: Some(10),
        ),
        (
            name: "Point Light",
            transform: (
                translation: (0.0, 0.00032476952765136957, 8.190076112747192),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: PointLight(
                color: (1.0, 0.84363616, 0.53090906),
                intensity: 0.5,
                range: 10.0,
            ),
            scripts: [],
        ),
        (
            name: "Point Light",
            transform: (
                translation: (-27.516913920640945, 1.1515257792780176, 8.690076112747192),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: PointLight(
                color: (1.0, 0.84363616, 0.53090906),
                intensity: 0.5,
                range: 10.0,
            ),
            scripts: [],
        ),
        (
            name: "Point Light",
            transform: (
                translation: (-27.72596624493599, 2.5384031968424097, 24.93552327156067),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: PointLight(
                color: (1.0, 0.84363616, 0.53090906),
                intensity: 0.5,
                range: 10.0,
            ),
            scripts: [],
        ),
        (
            name: "VFXTEST",
            transform: (
                translation: (-0.2697676718235016, 0.04885463714599614, 8.263109683990479),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            particles: Some((
                asset: "vfx/Hit",
                play_on_start: true,
            )),
        ),
        (
            name: "Parry Dummy",
            transform: (
                translation: (0.0, 1.5, 4.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Primitive(
                shape: Capsule,
                color: (0.9, 0.3, 0.25),
            ),
            scripts: [
                (
                    kind: "parry_dummy",
                    enabled: true,
                    params: [],
                ),
            ],
            rigidbody: Some((
                capsule: true,
                radius: 0.5,
                height: 2.0,
                half_extents: (0.5, 0.5, 0.5),
                restitution: 0.0,
                friction: 0.3,
                gravity: true,
                lock_pos: (false, false, false),
                lock_rot: (false, false, false),
            )),
            paint: Some(10),
            net: Some((
                transform: true,
                physics: true,
                animator: true,
                interp: true,
            )),
        ),
        (
            name: "UI Layer",
            transform: (
                translation: (0.0, 17.631447124481202, 2.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [
                (
                    kind: "hand",
                    enabled: true,
                    params: [],
                    refs: [
                        ("cam", "Camera 1"),
                    ],
                ),
            ],
            ui_layer: Some((
                design_height: 720.0,
                z: 183,
                enabled: true,
                space: Screen,
                canvas_scale: 0.009,
            )),
        ),
        (
            name: "Hand",
            transform: (
                translation: (-0.9929575119970773, -0.407483343144211, 1.2504098866073008),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            anim_controller: Some("animation_controllers/FPHand"),
            parent: Some(20),
            ui: Some((
                place: Pin(
                    anchor: BottomRight,
                    offset: (0.0, 0.0),
                ),
                size: (Pct(0.6), Pct(0.6)),
                image: Some((
                    texture: "assets/textures/UI/Hand/FP Hand-Sheet.png",
                    tint: (1.0, 1.0, 1.0, 1.0),
                    cols: 21,
                    rows: 1,
                    cell: 0,
                )),
                visible: true,
                opacity: 1.0,
            )),
        ),
        (
            name: "Image",
            transform: (
                translation: (0.4364963851002588, -0.4530710034282672, -0.7741207772214036),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            parent: Some(20),
            ui: Some((
                place: Pin(
                    anchor: Center,
                    offset: (0.0, 0.0),
                ),
                size: (Fixed(33.0), Fixed(33.0)),
                text: Some((
                    text: "",
                    size: 24.0,
                    color: (1.0, 1.0, 1.0, 1.0),
                    align: Start,
                    valign: Center,
                    fit: false,
                )),
                image: Some((
                    texture: "assets/textures/UI/Target.png",
                    tint: (1.0, 1.0, 1.0, 1.0),
                    cols: 1,
                    rows: 1,
                    cell: 0,
                )),
                visible: true,
                opacity: 0.37,
            )),
        ),
        (
            name: "Slider",
            transform: (
                translation: (2.9871392211015477, 16.939994616104645, 4.940126405882243),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            ui: Some((
                place: Pin(
                    anchor: TopLeft,
                    offset: (0.0, 0.0),
                ),
                size: (Fixed(320.0), Fixed(105.0)),
                image: Some((
                    texture: "assets/textures/UI/HealthbarBG.png",
                    tint: (1.0, 1.0, 1.0, 1.0),
                    cols: 1,
                    rows: 1,
                    cell: 0,
                )),
                slider: Some((
                    min: 0.0,
                    max: 100.0,
                    value: 100.0,
                    dir: Row,
                    flip: false,
                    interact: false,
                )),
                visible: true,
                opacity: 1.0,
            )),
        ),
        (
            name: "Fill",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            parent: Some(23),
            ui: Some((
                place: Free(
                    pos: (0.0, 0.0),
                ),
                size: (Pct(1.0), Pct(1.0)),
                image: Some((
                    texture: "assets/textures/UI/HealthbarFill.png",
                    tint: (1.0, 1.0, 1.0, 1.0),
                    cols: 1,
                    rows: 1,
                    cell: 0,
                )),
                part: Some(Fill),
                visible: true,
                opacity: 1.0,
            )),
        ),
        (
            name: "Handle",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            parent: Some(23),
            ui: Some((
                place: Pin(
                    anchor: Left,
                    offset: (0.0, 0.0),
                ),
                size: (Fixed(16.0), Fixed(36.0)),
                shape: Some((
                    fill: (1.0, 1.0, 1.0, 1.0),
                    radius: 6.0,
                    border: 0.0,
                    border_color: (0.0, 0.0, 0.0, 1.0),
                )),
                part: Some(Handle),
                visible: false,
                opacity: 1.0,
            )),
        ),
        (
            name: "Panel",
            transform: (
                translation: (2.98140181269289, -7.056225847150465, -2.026388068733411),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            parent: Some(23),
            ui: Some((
                place: Pin(
                    anchor: Bottom,
                    offset: (43.0, 0.0),
                ),
                size: (Fixed(242.0), Fixed(97.0)),
                shape: Some((
                    fill: (1.0, 1.0, 1.0, 1.0),
                    radius: 0.0,
                    border: 0.0,
                    border_color: (0.0, 0.0, 0.0, 0.0036363637),
                )),
                mask: Some((
                    targets: [
                        "Fill",
                    ],
                )),
                visible: true,
                opacity: 0.001,
            )),
        ),
        (
            name: "Sphere",
            transform: (
                translation: (-6.349374461065921, -6.026039383335494, -19.99051128973544),
                rotation: (0.70710677, 0.0, 0.0, 0.70710677),
                scale: (49.953842, 48.098396, 0.55),
            ),
            matter: Primitive(
                shape: Plane,
                color: (1.0, 1.0, 1.0),
            ),
            scripts: [
                (
                    kind: "portal",
                    enabled: true,
                    params: [],
                    strs: [
                        ("destination", "untitled"),
                    ],
                ),
            ],
            material: Some((
                color: (1.0, 1.0, 1.0),
                emissive: (1.0, 1.0, 1.0),
                emissive_strength: 0.0,
                specular: (1.0, 1.0, 1.0),
                shininess: 16.0,
                specular_strength: 0.0,
                rim: (0.0, 0.0, 0.0),
                rim_strength: 0.0,
                unlit: true,
                ambient: 1.0,
                alpha: 1.0,
                shader: Some("assets/shaders/examples/water.flsl"),
            )),
            rigidbody: Some((
                capsule: false,
                radius: 0.5,
                height: 2.0,
                half_extents: (0.5, 0.5, 0.5),
                restitution: 0.0,
                friction: 0.3,
                gravity: false,
                lock_pos: (true, true, true),
                lock_rot: (false, false, false),
            )),
            paint: Some(13),
            tex_paint: Some(2),
            collidable: true,
            trigger: true,
        ),
        (
            name: "Sphere",
            transform: (
                translation: (-87.46341829289118, -6.026039383335494, -17.786135307450895),
                rotation: (0.70710677, 0.0, 0.0, 0.70710677),
                scale: (37.895844, 40.775402, 0.55),
            ),
            matter: Primitive(
                shape: Plane,
                color: (1.0, 1.0, 1.0),
            ),
            scripts: [
                (
                    kind: "portal",
                    enabled: true,
                    params: [],
                    strs: [
                        ("destination", "untitled"),
                    ],
                ),
            ],
            material: Some((
                color: (1.0, 1.0, 1.0),
                emissive: (1.0, 1.0, 1.0),
                emissive_strength: 0.0,
                specular: (1.0, 1.0, 1.0),
                shininess: 16.0,
                specular_strength: 0.0,
                rim: (0.0, 0.0, 0.0),
                rim_strength: 0.0,
                unlit: true,
                ambient: 1.0,
                alpha: 1.0,
                shader: Some("assets/shaders/examples/water.flsl"),
                shader_params: {
                    "clarity": (0.51, 0.0, 0.0, 0.0),
                    "deepColor": (0.0057762354, 0.013050569, 0.051240794, 1.0),
                    "foam": (5.0, 0.0, 0.0, 0.0),
                    "shallowColor": (0.20938073, 0.59121513, 0.6543148, 1.0),
                    "speed": (4.0, 0.0, 0.0, 0.0),
                    "waveScale": (30.0, 0.0, 0.0, 0.0),
                },
            )),
            rigidbody: Some((
                capsule: false,
                radius: 0.5,
                height: 2.0,
                half_extents: (0.5, 0.5, 0.5),
                restitution: 0.0,
                friction: 0.3,
                gravity: false,
                lock_pos: (true, true, true),
                lock_rot: (false, false, false),
            )),
            collidable: true,
            trigger: true,
        ),
        (
            name: "Terrain 1",
            transform: (
                translation: (0.0, -1.5106836821518144, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Terrain(
                id: 8,
            ),
            scripts: [],
        ),
    ],
)