(
    name: "test",
    lighting: (
        direction: (0.4, 0.9, 0.45),
        color: (1.0, 0.30545455, 0.30545455),
        ambient: (0.047751315, 0.1426268, 0.1959942),
        intensity: 1.7,
        shadows: true,
        shadow_softness: 0.45,
        shadow_strength: 1.0,
        shadow_tint: (0.0, 0.0, 0.0),
        shadow_quantize: 0,
        shadow_dither: false,
        shadow_distance: 150.0,
        fog_color: (0.6, 0.65, 0.72),
        fog_start: 40.0,
        fog_end: 200.0,
        fog_dither_strength: 0.5,
    ),
    nodes: [
        (
            name: "Greatscythe",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Mesh(
                asset_path: "assets/models/_test/Greatscythe.glb",
            ),
            scripts: [
                (
                    kind: "float",
                    enabled: true,
                    params: [
                        ("height", 0.5),
                        ("speed", 1.0),
                        ("spin", 20.0),
                    ],
                ),
            ],
            parent: Some(10),
            attachment: Some((
                bone: "ORG-hand.R",
                offset: (
                    translation: (0.05, 1.18, -0.97),
                    rotation: (-0.4769951, -0.023004258, -0.012489646, 0.8785161),
                    scale: (4.93, 4.93, 4.93),
                ),
            )),
        ),
        (
            name: "Skybox",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Skybox(
                color: (0.01149204, 0.01149204, 0.01149204),
                size: 500.0,
                texture: Some("assets/textures/OrnateTex1.png"),
                tint: (0.0040182224, 0.0013296662, 0.0013296662),
            ),
            scripts: [],
        ),
        (
            name: "Gravity",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: GravityVolume(
                radial: true,
                strength: 41.0,
                radius: 440.0,
            ),
            scripts: [],
        ),
        (
            name: "Post Processing",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: PostProcess(
                enabled: true,
                bloom: false,
                bloom_threshold: 0.65,
                bloom_intensity: 0.75,
                vignette: false,
                vignette_strength: 0.57,
                vignette_radius: 0.7,
                ao: ScreenSpace,
                ao_strength: 0.7,
                ao_radius: 0.5,
                posterize_bands: 8,
                posterize_dither: true,
            ),
            scripts: [],
        ),
        (
            name: "Group",
            transform: (
                translation: (0.0, 0.8, 2.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
        ),
        (
            name: "Music",
            transform: (
                translation: (0.0, 9.0894193649292, 0.0),
                rotation: (0.0, 0.0000000000003450376, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            parent: Some(9),
            audio: Some((
                clip: "audio/music/balad2.wav",
                params: (
                    volume: 1.0,
                    pitch: 0.38,
                    pan: 0.0,
                    mode: Spatial,
                    falloff: Inverse,
                    min_distance: 2.0,
                    max_distance: 50.0,
                    track: "Track",
                    end: Loop,
                ),
                play_on_start: true,
            )),
        ),
        (
            name: "Capsule",
            transform: (
                translation: (24.936886117442214, 4.821745968292486, 6.9832223206395945),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Primitive(
                shape: Capsule,
                color: (0.49999997, 0.85, 0.59999996),
            ),
            scripts: [],
            rigidbody: Some((
                capsule: false,
                radius: 0.5,
                height: 2.0,
                half_extents: (0.5, 0.5, 0.5),
                restitution: 0.0,
                friction: 0.3,
                gravity: true,
                lock_pos: (false, false, false),
                lock_rot: (false, false, false),
            )),
            collidable: true,
        ),
        (
            name: "Player",
            transform: (
                translation: (1.0, 0.0, 1.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
        ),
        (
            name: "Capsule",
            transform: (
                translation: (0.0, 11.17259693145752, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Primitive(
                shape: Capsule,
                color: (0.49999997, 0.85, 0.59999996),
            ),
            scripts: [
                (
                    kind: "third_person",
                    enabled: true,
                    params: [
                        ("jump", 16.5),
                        ("run", 9.0),
                        ("run_anim_at", 6.0),
                        ("turn", 12.0),
                        ("walk", 4.75),
                        ("walk_anim_at", 0.4),
                        ("ground_ray", 0.7),
                        ("debug_ray", 0.1),
                        ("double_tap", 0.3),
                    ],
                ),
            ],
            material: Some((
                color: (1.0, 0.0, 0.0),
                texture: Some("assets/textures/Tile4.png"),
                emissive: (0.0, 0.0, 0.0),
                emissive_strength: 0.0,
                specular: (1.0, 1.0, 1.0),
                shininess: 16.0,
                specular_strength: 0.0,
                rim: (0.0, 0.0, 0.0),
                rim_strength: 0.0,
                unlit: false,
                ambient: 1.0,
                alpha: 1.0,
            )),
            rigidbody: Some((
                capsule: true,
                radius: 0.5,
                height: 2.0,
                half_extents: (0.5, 0.5, 0.5),
                restitution: 0.0,
                friction: 1.0,
                gravity: true,
                lock_pos: (false, false, false),
                lock_rot: (false, false, false),
            )),
            visible: false,
            parent: Some(7),
            tags: [
                "player",
            ],
        ),
        (
            name: "Camera",
            transform: (
                translation: (-0.5, 12.34368085861206, -0.5),
                rotation: (0.0, -0.0000000000003450376, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Camera(
                fov_y: 1.7976891,
                active: true,
            ),
            scripts: [
                (
                    kind: "third_person_camera",
                    enabled: true,
                    params: [
                        ("distance", 6.0),
                        ("height", 0.3),
                        ("max_distance", 11.0),
                        ("min_distance", 1.2),
                        ("sensitivity", 0.35),
                        ("start_pitch", -0.35),
                        ("zoom_speed", 1.0),
                    ],
                ),
            ],
            parent: Some(7),
        ),
        (
            name: "Model",
            transform: (
                translation: (0.00000014723970309660217, 1.6842257380485535, 0.0),
                rotation: (0.0, 0.0, 1.0, 0.00000004371139),
                scale: (0.5, 0.5, 0.5),
            ),
            matter: Mesh(
                asset_path: "assets/models/_test/Ty.glb",
            ),
            scripts: [],
            anim_controller: Some("animation_controllers/Ty"),
            parent: Some(8),
        ),
        (
            name: "Sphere",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (8.0, 8.0, 8.0),
            ),
            matter: Primitive(
                shape: Sphere,
                color: (1.0, 1.0, 1.0),
            ),
            scripts: [],
            material: Some((
                color: (1.0, 0.0, 0.0),
                emissive: (0.0, 0.0, 0.0),
                emissive_strength: 0.0,
                specular: (1.0, 1.0, 1.0),
                shininess: 16.0,
                specular_strength: 0.0,
                rim: (0.0, 0.0, 0.0),
                rim_strength: 0.0,
                unlit: false,
                ambient: 1.0,
                alpha: 1.0,
                shader: Some("assets/shaders/examples/plasma.flsl"),
            )),
            rigidbody: Some((
                capsule: false,
                mode: Static,
                radius: 0.5,
                height: 2.0,
                half_extents: (0.5, 0.5, 0.5),
                restitution: 0.0,
                friction: 0.3,
                gravity: true,
                lock_pos: (true, true, true),
                lock_rot: (false, false, false),
            )),
            collidable: true,
            cast_shadow: false,
        ),
    ],
)