(
    name: "untitled",
    lighting: (
        direction: (-7.5, 2.2, -4.32),
        color: (0.5098663, 0.1409085, 0.1409085),
        ambient: (0.09082688, 0.019791598, 0.11107528),
        intensity: 1.0,
        shadows: true,
        shadow_softness: 0.53,
        shadow_strength: 1.0,
        shadow_tint: (0.08099539, 0.09858161, 0.3228077),
        shadow_quantize: 4,
        shadow_dither: true,
        shadow_distance: 1000.0,
        fog: true,
        fog_color: (0.020238506, 0.0022078373, 0.0022078373),
        fog_start: 0.0,
        fog_end: 28.0,
        fog_dither: true,
        fog_dither_strength: 0.43,
    ),
    nodes: [
        (
            name: "Capsule",
            transform: (
                translation: (53.80615234375, 3.234553813934326, -61.09663009643555),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Primitive(
                shape: Capsule,
                color: (0.49999997, 0.85, 0.59999996),
            ),
            scripts: [
                (
                    kind: "third_person",
                    enabled: true,
                    params: [
                        ("jump", 16.5),
                        ("run", 9.0),
                        ("run_anim_at", 6.0),
                        ("turn", 12.0),
                        ("walk", 4.75),
                        ("walk_anim_at", 0.4),
                        ("ground_ray", 0.7),
                        ("debug_ray", 0.1),
                        ("double_tap", 0.3),
                    ],
                ),
            ],
            material: Some((
                color: (1.0, 0.0, 0.0),
                texture: Some("assets/textures/Tile4.png"),
                emissive: (0.0, 0.0, 0.0),
                emissive_strength: 0.0,
                specular: (1.0, 1.0, 1.0),
                shininess: 16.0,
                specular_strength: 0.0,
                rim: (0.0, 0.0, 0.0),
                rim_strength: 0.0,
                unlit: false,
                ambient: 1.0,
                alpha: 1.0,
            )),
            rigidbody: Some((
                capsule: true,
                radius: 0.5,
                height: 2.0,
                half_extents: (0.5, 0.5, 0.5),
                restitution: 0.0,
                friction: 1.0,
                gravity: true,
                lock_pos: (false, false, false),
                lock_rot: (false, false, false),
            )),
            visible: false,
            parent: Some(5),
            tags: [
                "player",
            ],
        ),
        (
            name: "Skybox",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Skybox(
                color: (0.10879347, 0.10879347, 0.10879347),
                size: 10.0,
                texture: Some("assets/textures/sky1.png"),
                tint: (0.07596881, 0.0, 0.0),
                shader: Some("assets/shaders/examples/auroraVeil.flsl"),
                shader_params: {
                    "high": (0.10653924, 0.0, 0.018595923, 1.0),
                    "intensity": (3.0, 0.0, 0.0, 0.0),
                    "low": (0.99174774, 0.0, 0.0, 1.0),
                    "night": (0.057284027, 0.0, 0.0, 1.0),
                    "sway": (0.35, 0.0, 0.0, 0.0),
                },
            ),
            scripts: [],
        ),
        (
            name: "Gravity",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: GravityVolume(
                radial: false,
                strength: 27.0,
                radius: 20.0,
            ),
            scripts: [],
        ),
        (
            name: "Terrain 1",
            transform: (
                translation: (2.499295308511407, 0.00000010892073820656378, 15.893093863242107),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Terrain(
                id: 3,
            ),
            scripts: [],
        ),
        (
            name: "Post Processing",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: PostProcess(
                enabled: true,
                bloom: false,
                bloom_threshold: 0.32,
                bloom_intensity: 0.35,
                vignette: true,
                vignette_strength: 1.0,
                vignette_radius: 0.52,
                ao: ScreenSpace,
                ao_strength: 0.7,
                ao_radius: 0.5,
                posterize_bands: 16,
                posterize_dither: true,
            ),
            scripts: [],
        ),
        (
            name: "Player",
            transform: (
                translation: (0.5, 0.0, 0.5),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
        ),
        (
            name: "Camera",
            transform: (
                translation: (-0.5, 12.34368085861206, -0.5),
                rotation: (0.0, -0.0000000000003450376, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Camera(
                fov_y: 1.7976891,
                active: true,
            ),
            scripts: [
                (
                    kind: "third_person_camera",
                    enabled: true,
                    params: [
                        ("distance", 6.0),
                        ("height", 0.3),
                        ("max_distance", 11.0),
                        ("min_distance", 1.2),
                        ("sensitivity", 0.35),
                        ("start_pitch", -0.35),
                        ("zoom_speed", 1.0),
                    ],
                ),
            ],
            parent: Some(5),
        ),
        (
            name: "Greatscythe",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Mesh(
                asset_path: "assets/models/_test/Greatscythe.glb",
            ),
            scripts: [
                (
                    kind: "float",
                    enabled: true,
                    params: [
                        ("height", 0.5),
                        ("speed", 1.0),
                        ("spin", 20.0),
                    ],
                ),
            ],
            parent: Some(18),
            attachment: Some((
                bone: "ORG-hand.R",
                offset: (
                    translation: (0.05, 1.18, -0.97),
                    rotation: (-0.4769951, -0.023004258, -0.012489646, 0.8785161),
                    scale: (4.93, 4.93, 4.93),
                ),
            )),
        ),
        (
            name: "Point Light",
            transform: (
                translation: (0.0, 1.8926310539245605, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: PointLight(
                color: (1.0, 0.9499999, 0.85),
                intensity: 1.0,
                range: 10.0,
            ),
            scripts: [],
        ),
        (
            name: "Model Orig",
            transform: (
                translation: (51.80685703523859, 3.234553705013588, -76.48972395967766),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (0.375, 0.375, 0.375),
            ),
            matter: Mesh(
                asset_path: "assets/models/_test/UVMappedR6.glb",
            ),
            scripts: [],
            visible: false,
            anim_controller: Some("animation_controllers/PlayerR6"),
            parent: Some(3),
        ),
        (
            name: "PurpleLockedChest",
            transform: (
                translation: (-25.226943945128962, 1.014868448613969, 20.483285865908353),
                rotation: (0.0, -0.7839724, 0.0, 0.6207958),
                scale: (0.33, 0.33, 0.33),
            ),
            matter: Mesh(
                asset_path: "assets/models/_test/PurpleLockedChest.glb",
            ),
            scripts: [],
        ),
        (
            name: "Group",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (2.6666667, 2.6666667, 2.6666667),
            ),
            matter: Empty,
            scripts: [],
            particles: Some((
                asset: "vfx/NewEffect",
                play_on_start: true,
            )),
            parent: Some(9),
        ),
        (
            name: "Parry",
            transform: (
                translation: (54.266725293433815, 3.311702663533401, -63.406256784571696),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (2.0, 2.0, 2.0),
            ),
            matter: Empty,
            scripts: [],
            particles: Some((
                asset: "vfx/Parry",
                play_on_start: true,
            )),
        ),
        (
            name: "Scythe Throw",
            transform: (
                translation: (59.9077722135755, 4.474988485527382, -65.23199206743477),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            particles: Some((
                asset: "vfx/Fire",
                play_on_start: true,
            )),
        ),
        (
            name: "Group",
            transform: (
                translation: (54.52157722927553, 3.819266985278073, -61.30408059512177),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (2.0, 2.0, 2.0),
            ),
            matter: Empty,
            scripts: [],
            particles: Some((
                asset: "vfx/NewEffect1",
                play_on_start: true,
            )),
        ),
        (
            name: "Test1",
            transform: (
                translation: (54.32567845798952, 2.4983148082303437, -60.867520321951304),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            particles: Some((
                asset: "vfx/NewEffect2",
                play_on_start: true,
            )),
        ),
        (
            name: "DashVFX",
            transform: (
                translation: (51.6988155294616, 4.334151121247615, -63.0271022836322),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            particles: Some((
                asset: "vfx/NewEffect3",
                play_on_start: true,
            )),
        ),
        (
            name: "Fire1",
            transform: (
                translation: (54.42427842279747, 2.631584633739533, -63.04044497020964),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            particles: Some((
                asset: "vfx/NewEffect4",
                play_on_start: true,
            )),
        ),
        (
            name: "Model",
            transform: (
                translation: (0.00000014723970309660217, 1.6842257380485535, 0.0),
                rotation: (0.0, 0.0, 1.0, 0.00000004371139),
                scale: (0.5, 0.5, 0.5),
            ),
            matter: Mesh(
                asset_path: "assets/models/_test/Ty.glb",
            ),
            scripts: [],
            anim_controller: Some("animation_controllers/Ty"),
            parent: Some(0),
        ),
        (
            name: "Sphere",
            transform: (
                translation: (13.39838035117468, 3.7402622485919963, 28.20721543679654),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (0.6, 0.55, 0.55),
            ),
            matter: Primitive(
                shape: Sphere,
                color: (1.0, 1.0, 1.0),
            ),
            scripts: [
                (
                    kind: "portal",
                    enabled: true,
                    params: [],
                    strs: [
                        ("destination", "first"),
                    ],
                ),
            ],
            material: Some((
                color: (0.41748562, 0.48238903, 0.0),
                emissive: (0.009569286, 0.01778077, 0.0),
                emissive_strength: 20.0,
                specular: (1.0, 1.0, 1.0),
                shininess: 16.0,
                specular_strength: 0.0,
                rim: (0.0, 0.0, 0.0),
                rim_strength: 0.0,
                unlit: true,
                ambient: 1.0,
                alpha: 1.0,
            )),
            rigidbody: Some((
                capsule: false,
                radius: 0.5,
                height: 2.0,
                half_extents: (0.5, 0.5, 0.5),
                restitution: 0.0,
                friction: 0.3,
                gravity: false,
                lock_pos: (true, true, true),
                lock_rot: (false, false, false),
            )),
            collidable: true,
            trigger: true,
        ),
        (
            name: "Music",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0000000000003450376, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            parent: Some(6),
            audio: Some((
                clip: "audio/music/balad2.wav",
                params: (
                    volume: 1.0,
                    pitch: 0.38,
                    pan: 0.0,
                    mode: Spatial,
                    falloff: Inverse,
                    min_distance: 2.0,
                    max_distance: 50.0,
                    track: "Track",
                    end: Loop,
                ),
                play_on_start: true,
            )),
        ),
        (
            name: "UI Layer",
            transform: (
                translation: (0.0, 10.897077369689942, 2.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [
                (
                    kind: "hand",
                    enabled: true,
                    params: [],
                ),
            ],
            ui_layer: Some((
                design_height: 720.0,
                z: 0,
                enabled: true,
                space: Screen,
                canvas_scale: 0.01,
            )),
        ),
        (
            name: "Hand",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            anim_controller: Some("animation_controllers/FPHand"),
            parent: Some(21),
            ui: Some((
                place: Pin(
                    anchor: BottomRight,
                    offset: (0.0, 0.0),
                ),
                size: (Fixed(827.0), Fixed(450.0)),
                image: Some((
                    texture: "textures/UI/Hand/FP Hand Keypad-Sheet.png",
                    tint: (1.0, 1.0, 1.0, 1.0),
                    cols: 1,
                    rows: 1,
                    cell: 0,
                )),
                visible: true,
                opacity: 1.0,
            )),
        ),
        (
            name: "Image",
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            matter: Empty,
            scripts: [],
            parent: Some(21),
            ui: Some((
                place: Pin(
                    anchor: Center,
                    offset: (0.0, 0.0),
                ),
                size: (Fixed(33.0), Fixed(33.0)),
                image: Some((
                    texture: "assets/textures/UI/Target.png",
                    tint: (1.0, 0.0, 0.0, 1.0),
                    cols: 1,
                    rows: 1,
                    cell: 0,
                )),
                visible: true,
                opacity: 0.1,
            )),
        ),
    ],
)